body {
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  padding-top: 70px;
}

section {
  padding-top: 80px;
}

.card {
  border-radius: 12px;
}
